	<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>My account</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
	<!-- End Hero Section -->
    <!-- Start Account Description -->
<div class="container mt-4 d-flex justify-content-center">
    <div class="card" style="width: 25rem;">            
        <h3 class="card-header">Profile</h3>    
        <div class="card-body">
            <div class="mb-3">
                <h3>Email</h3>
                <div class="mt-2">{{email}}</div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <h3>First Name</h3>
                    <div class="mt-2">{{first_name}}</div>
                </div>
                <div class="mb-3">
                    <h3>Last Name</h3>
                    <div class="mt-2">{{last_name}}</div>
                </div>
            </div>
            <div class="mb-3">
                <h3>Country</h3>
                <div class="mt-2">{{country}}</div>
            </div>
            <div class="mb-3">
                <h3>Address</h3>
                <div class="mt-2">{{address}}</div>
            </div>
           <div class="mb-3">
                <h3>Contact</h3>
                <div class="mt-2">{{contact}}</div>
            </div>
            <div class="mb-3">
                <h3>Phone</h3>
                <div class="mt-2">{{phone}}</div>
            </div>
            <div class="mb-3">
                <h3>Date of Birth</h3>
                <div class="mt-2">{{dateofbirth}}</div>
            </div>
            <div class="mb-3">
                <h3>Gender</h3>
                <div class="mt-2">{{gender}}</div>
            </div>

            <a href="/account/{{username}}/edit" class="btn btn-sm btn-outline-black">Edit Profile</a>
            <a href="/logout" class="btn btn-danger btn-sm btn-outline-black">Log out</a>
        </div>

        {{#if message}}
			<h4 class="alert alert-success mt-4">{{message}}</h4>
		{{/if}}
    </div>
</div>