<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>My chair</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->


<div class="container mt-4 d-flex justify-content-center">
    <div class="card" style="width: 25rem;">            
        <h3 class="card-header">Product Info</h3>    
        <div class="card-body">
            <div class="mb-3">
                <h2 class="mt-2 d-flex justify-content-center">{{product_name}}<h2>
            </div>
            <div class="mb-3" >
                <img src="/images/{{image}}" width="350" height="350">
            </div>
            <div class="mb-3" style="font-size: 24px">
                <mark><strong>Price: </strong></mark>${{product_price}}
            </div>
            <div class="mb-3" style="font-size: 24px">
                <mark><strong>Description: </strong></mark>{{description}}
            </div>
            <div class="mb-3" style="font-size: 24px">
                <mark><strong>Stock: </strong></mark>{{stock}}
            </div>
            <div class="mb-3" style="font-size: 24px">
                 <mark><strong>Tags: </strong></mark>
                    {{#each tags}}
                        <ins>{{this}} </ins>
                    {{/each}}
            </div>

            <a href="/shop/{{slug}}/order" class="btn btn-sm btn-outline-black d-flex justify-content-center">Order Now!</a>
        </div>

        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>
</div>