<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Shop</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        
        <form action="/shop/search" method="get">
            <div class="row mb-4">
                <h3 class="d-flex justify-content-center">Search by name</h3>
                <div class="d-flex justify-content-center">
                    <input name="product", type="text" value="{{search}}">
                </div>
            </div>

            <div class="row mb-4">
                <h3 class="d-flex justify-content-center">Choose tags</h3>
                <div class="d-flex justify-content-center">
                    {{#if tag_list}}
                        {{#each tags}}
                            <div class="form-check me-5 checkbox-lg">
                                <h3><input class="form-check-input" name="tag" {{#ifIn tag ../tag_list }} checked {{/ifIn}}type="checkbox" value="{{tag}}">{{tag}}</j3>
                            </div>
                        {{/each}}
                    {{else}}
                        {{#each tags}}
                            <div class="form-check me-5 checkbox-lg">
                                <h3><input class="form-check-input" name="tag" type="checkbox" value="{{tag}}">{{tag}}</j3>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>

            <div class="row mb-4 d-flex justify-content-center">
                <h3 class="d-flex justify-content-center">Choose a Company</h3>
                <select name="company" class="d-flex justify-content-center" style="width: 200px; margin: 10px;" id="company">
                        <option value="">Choose one</option>
                        {{#select selected_company}}
                            {{#each company}}
                                <option value="{{company}}">{{company}}</option>
                            {{/each}}
                        {{/select}}
                </select>
            </div>

            <div class="row mb-4">
                <div class="d-flex justify-content-center">
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            {{#each products}}
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/shop/{{slug}}">
                        <img src="/images/{{image}}" class="img-fluid product-thumbnail">
                        <h3 class="product-title">{{product_name}}</h3>
                        <strong class="product-price">${{product_price}}</strong>

                        <span class="icon-cross">
                            <img src="/images/cross.svg" class="img-fluid">
                         </span>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>